body{
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    border: 1px solid black;
    width: 900px;
    margin: auto;
    text-align: center;
}

.container-after{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    
    font-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
